*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;  
}
body{
    min-height: 100vh;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    color: hsl(210, 10%, 33%);
}
ul{
    list-style: none;
}
li:hover{
    cursor: pointer;
    filter: invert(61%) sepia(65%) saturate(465%) hue-rotate(121deg) brightness(87%) contrast(90%);
}
input{
    border-radius: 20px;
    border: none;
    color: white;
    width: 200px;
    height: 35px;
    margin: 4% 0%;
}
.ios{
    background-color: hsl(233, 100%, 69%);
}
.ios:hover{
    cursor: pointer;
    background-color: hsl(233, 100%, 69%, 0.9);
}
.mac{
    background-color: hsl(171, 66%, 44%);
}
.mac:hover{
    cursor: pointer;
    background-color: hsl(171, 66%, 44%, 0.9);
}



/*-------------------section-one-------------------*/

.section-one{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-one div:first-child{
    background-image: url("../img/bg-header-desktop.png");
}
.section-one div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-one img{
    margin-top: 10%;
}
.section-one h1{
    font-size: 2.6rem;
    margin: 1% 0%;
}
.section-one p{
    max-width: 50%;
    margin: 1% 0%;
}

/*-------------------section-two-------------------*/

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-two div:first-child{
    max-width: 50%;
    margin: 4% 0%;
}

.section-two div:nth-child(2){
    display: flex;
}
.section-two-info{
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
}
.section-two-info div:nth-child(1){
    flex-basis: 30%;
    max-width: 85%;
}
.section-two-info div{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    max-width: 85%;
}


/*-------------------section-three-------------------*/

.section-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 7% 0%;
}
.section-three div:first-child{
    max-width: 50%;
    margin: 5% 0%;
}
.section-three img{
    max-width: 80%;
}


/*-------------------section-four-------------------*/

.section-four{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0% 5%;
}
.icon-with-info{
    flex-basis: 33%;
}
.icon-with-info *{
    margin: 3% 0%;
}
.icon-without-info{
    flex-basis: 20%;
    margin: 10% 2%;
}

/*-------------------section-five-------------------*/

.section-five{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0% 0% 5%;
}
.section-five p{
    max-width: 50%;
    margin: 1% 0%;
}

/*-------------------footer-------------------*/


footer{
    background-color: hsl(195, 9%, 82%);
    display: flex;
    align-items: center;
    padding: 2% 0%;
}
footer ul:nth-child(1){
    flex-basis: 15%;
    display: flex;
    justify-content: center;
}
footer ul:nth-child(1) img{
    max-width: 40%;
}
footer ul:nth-child(2), footer ul:nth-child(3){
    flex-basis: 15%;
}
footer ul:nth-child(4){
    flex-basis: 30%;
}
.social{
    display: flex;
}
.social li{
    margin: 0% 10%;
}


/*-------------------media-------------------*/

@media (max-width:950px) {
    /*-------------------section-two-------------------*/
    .section-two img{
        max-width: 50%;
    }
}
@media (max-width:650px) {
    input{
        width: 350px;
        height: 45px;
    }
    .input-div{
        display: flex;
        flex-direction: column;
    }
    /*-------------------section-one-------------------*/
    .section-one p{
        max-width: 90%;
    }
    /*-------------------section-two-------------------*/
    .section-two div:first-child{
        max-width: 80%;
        margin: 4% 0%;
    }
    .section-two div:nth-child(2){
        flex-direction: column;
        align-items: center;
    }
    .section-two img{
        max-width: 80%;
    }
    /*-------------------section-four-------------------*/
    .icon-with-info{
        flex-basis: 70%;
    }
    .icon-without-info{
        flex-basis: 70%;
    }
    /*-------------------section-five-------------------*/
    .section-five p{
        max-width: 90%;
    }
    /*-------------------footer-------------------*/
    footer{
        flex-direction: column;
        text-align: center;
    }
    ul{
        padding: 0%;
    }
    footer li{
        margin:10% 0%;
    }
    .social{
        gap: 20px;
    }
    .social li{
        margin: 0%;
    }
}